.named_separator {
	min-height: 14px;
	flex-direction: row;
	align-items: center;
}

.named_separator .named_separator__label {
	padding-right: 10px;

	font-size: 10px;
}

.named_separator .named_separator__separator {
	flex-grow: 1;
	height: 1px;
	border-radius: 1px;
}